<!DOCTYPE html>
<html>
    <head><title>Online BIM Services</title></head>
    <body>
        <h1>IFC2OBJ tool.</h1>
        <p>Text.<br>
        <p><br>

        <p><br>
        <form method="get" action="/download">
            <input type="hidden" name="userid" value="{{val_userid}}">
            <input type="submit" value="Download IFC file">
        </form>
        <p><br>
        <form method="get" action="/">
            <input type="submit" value="convert another IFC.">
        </form> 
    </body>
</html>
