<!DOCTYPE html>
<html>
	<head><title>Online FreeCAD Volume Calculation Service</title></head>
	<body>
		<h1>FreeCAD Box Volume</h1>
		<p>Length = {{l}}<br>
		<p>Width = {{w}}<br>
		<p>Height = {{h}}<br>
		<p><br>
		<p>Volume = {{v}}<br>
	</body>
</html>
