<!DOCTYPE html>
<html>
	<head><title>Online FreeCAD Volume Calculation Service</title></head>
	<body>
		<h1>FreeCAD Box Volume</h1>
		<p>Length = {{l}}<br>
		<p>Width = {{w}}<br>
		<p>Height = {{h}}<br>
		<p><br>
		<p>Volume = {{v}}<br>
		<p><br>
		<form method="get" action="/download">
		<input type="submit" value="Download FCStd file">
		</form>
		<p><br>
		<form method="get" action="/">
		<input type="submit" value="Go back">
		</form> 
	</body>
</html>
