<!DOCTYPE html>
<html>
	<head><title>Online Services</title></head>
	<body>
		<h1>Online square root tool</h1>
		<p><br>
		<p>input value = {{val_out}}<br>
		<p><br>
		<p>square root = {{val_sqrt}}<br>
		<p><br>
		<form method="get" action="/downloadresult">
		<input type="submit" value="Download result">
		</form>
		<p><br>
		<form method="get" action="/">
		<input type="submit" value="Go back">
		</form> 
	</body>
</html>
